body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

#colorsForm {
  position: fixed;
  top: 0px;
  width: 100%;
  text-align: center;
}

#canvas {
  position: absolute;
}

#canvasError {
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 50px;
}

#foot {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 15px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
